/* Quote component
-------------------- */
.quote {
  display: flex; // Activate flexbox
  flex-direction: column; // Stacking items on top of each other
  align-items: center; // Aligning center on the cross axis
  text-align: center; // Centering text
  margin: 5rem 0; // Spacing outside the element, top-bottom, left-right
  font-weight: 300; // Text thickness

  @media #{$breakpoint-tablet-landscape} {
    margin: 2rem 0 4rem; // Spacing outside the element, top-bottom, left-right
  }

  // Title of the quote
  h2 {
    font-style: italic; // Text style

    @media #{$breakpoint-tablet-landscape} {
      font-size: 2rem; // Text size
    }
  }

  &__scroll {
    opacity: 0;
    transition: opacity 2s;
  }
}
