/* FaQ component
-----------------*/
.questions {
  opacity: 0;
  transition: opacity 2s;

  // Questions group
  &__group {
    display: flex; // Activate flexbox
    justify-content: center; // Centering on the main axis
    column-gap: 3rem; // Gap between the columns
    margin: 2rem 1rem; // Spacing outside the element, top-bottom, left-right

    @media #{$breakpoint-tablet-portrait} {
      flex-direction: column; // Stacking questions containers on top of each other
      align-items: center; // Aligning elements center, cross axis
    }
  }

  &__one,
  &__two {
    max-width: 30rem;
  }

  // 2nd questions group (on desktop view -> the right one)
  &__two {
    margin-top: 6.625rem; // Adding spacing above the element to line it up with the first one
    border-top: 1px solid #ccc; // Adding missing border top, because that side doesn't have title with the border under it

    @media #{$breakpoint-tablet-portrait} {
      margin-top: 0; // Removing spacing above the element
      border-top: none; // Removing border from top
    }
  }
}
