/* TimeAndPlace component
---------------------------*/
.aside {
  border-top: 0.25rem solid var(--tertiary-bg-color); // Border on top of the element
  border-bottom: 0.25rem solid var(--tertiary-bg-color); // Border on top of the element
  padding-right: 5rem; // Spacing inside the element, right side
  font-weight: 700; // Text thickness

  @media #{$breakpoint-tablet-portrait} {
    margin: 2rem 0;
  }

  // Paragraph element
  p {
    color: #5d9b7c;
  }

  // Title headings
  h5 {
    margin-bottom: 1rem; // Spacing outside the element, bottom
  }

  // Containers of time and location
  &__time,
  &__location {
    margin-bottom: 2rem; // Spacing outside the element, bottom
  }

  // Paragraph elements of time and location containers
  &__time p,
  &__location p {
    margin-bottom: 0; // Removing spacing from outside the elements, bottom
  }
}
