/* HistoryGrid component
------------------------*/
.history {
  display: flex; // Activate flexbox
  justify-content: center; // Centering content on the main axis
  margin: 7rem 0; // Spacing outside the element, top-bottom, left-right

  // Grid containing images and text
  &__grid {
    display: grid; // Activate grid
    grid-template-columns: repeat(3, 1fr); // 3 columns, 1fr each in width
    max-width: 100rem;
  }

  // Selecting each cell that has image in it
  &__image {
    margin: 0.5rem; // Spacing outside the element
  }

  // The one cell with text instead of an image
  &__description {
    display: flex; // Activate flexbox
    flex-direction: column; // Stacking items on top of each other
    align-items: center; // Aligning center on the cross axis
    justify-content: center; // Aligning center on the main axis
    text-align: center; // Centering text

    // Paragraph inside the description cell
    p {
      max-width: 20rem; // Max space available horizontally
    }
  }
}
