/* ContactCta component
-----------------------*/
.cta {
  display: flex; // Activate flexbox
  justify-content: center; //  Aligning center on the main axis

  // Container of the content
  &__content {
    max-width: 110rem; // Max space taken horizontally
    background-color: var(--secondary-bg-color);
    padding: 3rem; // Spacing inside the element
    margin: 0 1rem; // Spacing outside the element, top-bottom, left-right
    text-align: center; // Aligning text center
    color: #506e65; // Text color

    h1 {
      @media #{$breakpoint-tablet-landscape} {
        font-size: 3.5rem;
      }
    }
  }
}
