/* ContactCta component
-----------------------*/
.cta {
  display: flex; // Activate flexbox
  justify-content: center; //  Aligning center on the main axis

  // Container of the content
  &__content {
    max-width: 110rem; // Max space taken horizontally
    background-color: var(--secondary-bg-color);
    padding: 3rem; // Spacing inside the element
    margin: 0 1rem; // Spacing outside the element, top-bottom, left-right
    text-align: center; // Aligning text center
    color: #506e65; // Text color
    opacity: 0;
    transition: opacity 2s;

    @media #{$breakpoint-mobile-landscape} {
      padding: 1rem 1.5rem; // Spacing inside the element, top-bottom, left-right
    }

    h1 {
      @media #{$breakpoint-tablet-landscape} {
        font-size: 3.5rem; // Text size
      }

      @media #{$breakpoint-mobile-landscape} {
        font-size: 2.5rem; // Text size
      }
    }
  }
}
