/* Intro component
-----------------*/
.intro {
  max-width: 100rem; // Max space taken horizontally
  margin: 0 auto; // Spacing outside the element, top-bottom, left-right (auto centers horizontally)

  // Content container
  &__content {
    display: flex; // Activate flexbox
    flex-direction: column; // Stacking items on top of each other
    text-align: center; // Aligning text center
    align-items: center; // Aligning items center on the main axis
    position: relative; // Let's the position be set with top, left etc.
    margin: -5rem 2rem 0; // Spacing outside the element. Negative margin on top pulls it top
    padding: 2rem; // Spacing inside the element
    background-color: var(--main-bg-color);

    @media #{$breakpoint-mobile-landscape} {
      margin: -5rem 1rem 0; // Spacing outside the element. Negative margin on top pulls it top
      padding: 0rem 1.5rem; // Spacing inside the element, top-bottom, left-right
    }

    // Container title
    h2 {
      max-width: 70rem; // Maximum space taken horizontally

      @media #{$breakpoint-tablet-landscape} {
        font-size: 2rem; // Text size
      }
    }

    // Sub-heading
    h4 {
      @media #{$breakpoint-tablet-landscape} {
        font-size: 1.25rem; // Text size
        margin: 1rem 0 0.5rem; // Spacing outside the element: top, right-left, bottom
      }
    }

    // Content paragraph
    p {
      font-family: 'Outfit', sans-serif;
      max-width: 50rem; // Maximum space taken horizontally
    }

    // Modified class added on the contact page
    &--modified {
      flex-direction: row; // Changing flex direction from 'column' to 'row'
      justify-content: space-between; // Spacing between elements
      text-align: left; // Aligning text back to 'left' from 'center'

      @media #{$breakpoint-tablet-portrait} {
        flex-direction: column; // Stacking items on top of each other
      }

      // This ul is only in the contacats page
      ul {
        padding-left: 1rem; // Spacing inside the element, left side
      }
    }

    // Modified content container when on contact page
    &--small {
      max-width: 50rem; // Max space taken horizontally
      padding-right: 2rem; // Spacing inside the element, right

      @media #{$breakpoint-tablet-portrait} {
        padding-right: 0; // Spacing inside the element, right
      }
    }
  }
}
