/* Intro component
-----------------*/
.intro {
  max-width: 100rem;
  margin: 0 auto;

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    margin: -5rem 2rem 0;
    padding: 2rem;
    background-color: var(--main-bg-color);

    h2 {
      max-width: 70rem;
    }

    p {
      font-family: 'Outfit', sans-serif;
      // max-width: 50rem;
    }

    &--modified {
      text-align: left;
      align-items: baseline;
      padding-right: 50rem;
      position: relative;
      font-weight: 300;

      ul {
        padding-left: 1rem;
      }
    }
  }
}
