/* Footer component
------------------*/
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--tertiary-bg-color);
  color: #fff;

  &__grid {
    margin: 0 1rem;
    display: grid; // Activate grid
    grid-template-columns: 2fr repeat(2, 1fr); // Grid layout
    grid-template-rows: 1fr; // Grid layout
    padding-bottom: 2rem; // Spacing inside the grid, bottom

    @media #{$breakpoint-tablet-landscape} {
      grid-template-columns: repeat(2, 1fr); // Grid layout
    }

    @media #{$breakpoint-mobile-landscape} {
      grid-template-columns: repeat(1, 1fr); // Grid layout
    }
  }

  // Footer grid cell
  &__cell {
    display: flex; // Activate flexbox
    flex-direction: column; // Stacking items above one another
    justify-content: flex-end; // Moving items to the bottom on the cross axis

    @media #{$breakpoint-mobile-landscape} {
      text-align: center;
    }

    // Selecting first grid cell
    &:nth-of-type(1) {
      @media #{$breakpoint-tablet-landscape} {
        grid-column: span 3;
        align-items: center;
      }

      @media #{$breakpoint-mobile-landscape} {
        grid-column: 1;
      }

      h4 {
        font-family: 'Playfair Display', sans-serif;
      }

      p {
        max-width: 20rem; // Maximum space taken horizontally
      }
    }

    // Selecting 2nd grid cell
    &:nth-of-type(2) {
      text-align: end;
      margin-right: 4rem;

      @media #{$breakpoint-mobile-landscape} {
        margin: 2rem 0 0;
        text-align: center;
      }

      // Selecting last paragraph of 2nd grid cell
      p:last-of-type {
        margin-bottom: 0; // Removing spacing from the bottom
      }
    }

    // Selecting 3rd grid cell
    &:nth-of-type(3) {
      // First company name
      h4 {
        margin-bottom: 0; // Spacing outside the element
      }

      // Second company name
      h3 {
        // Layout
        margin: 0; // Removing spacing outside the element, bottom

        // Typo
        font-family: 'Playfair Display', sans-serif;
        color: #fff;
        font-weight: 700; // Text thickness
      }
    }

    // Grid cell title
    h4 {
      font-weight: 700; // Text thickness
      color: #fff;
    }

    // Grid cell paragraph elements
    p {
      font-weight: 300; // Text thickness
      // max-width: 20rem; // Maximum space horizontally
    }
  }

  // Container of buttons
  &__buttons {
    display: flex; // Active flexbox
    margin-top: 1.5rem; // Spacing outside the element, top
    gap: 1rem; // Gap between buttons

    @media #{$breakpoint-mobile-landscape} {
      flex-direction: column; // Stacking the 2 buttons on top of each other
    }
  }

  // Contacts container of the last grid cell
  &__contact {
    margin-bottom: 1rem;

    // Selecting all paragraphs
    p {
      margin: 0; // Removing spacing outside the element

      // Selecting first paragraph
      &:nth-of-type(1) {
        margin: 1rem 0; // Adding spacing outside the 1st paragraph, top-bottom
      }
    }
  }
}
