:root {
  --main-bg-color: #fff;
  --secondary-bg-color: #d9d9d9; // Placeholder for images
  --tertiary-bg-color: #0f4431; // Footer
  --main-text-color: #0f4431; // h1-h5
  --secondary-text-color: #5d9b7c; // Registration page (input field names), buttons
  --tertiary-text-color: #000000; // Paragraphs
}

// Used for banner image. When resizing the image still fits in it's container without stretching it
.adaptive {
  display: flex;
  flex-wrap: wrap;

  &-photo {
    // height: 150px /*This is what determines the height of your image*/
    flex-grow: 1;

    img {
      max-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }
  }
}

// Styles for scrollbutton
.scrollbutton {
  display: none; // Button invisible at the start
  position: fixed; // Fixed in a position on screen
  bottom: 2rem; // 2rem from the bottom of the screen
  right: 2rem; // 2rem from the right of the screen
  padding: 0.5rem; // Spacing inside the element
  border-radius: 50%; // Round corners
  background-color: var(--main-text-color);
  border: 1px solid #fff; // 1px white border
  transition: 0.3s ease-in-out; // Transition settings
  z-index: 100; // Position on the Z axis

  // Arrow icon in the button
  &__icon {
    width: 2rem;
    height: 2rem;
    transform: rotate(270deg); // Originally pointing right, rotating it to point up
  }

  // Button hover effects
  &:hover {
    transform: translateY(-0.5rem); // Moving the element up on the Y axis
    background-color: white; // Changing background color
    border-color: var(--tertiary-bg-color); // Changing border color
  }

  // Style changes for the icon when hovering the button
  &:hover .scrollbutton__icon {
    filter: brightness(0) saturate(100%) invert(19%) sepia(53%) saturate(605%) hue-rotate(107deg)
      brightness(94%) contrast(93%); // Used HEX to filter converter to change the color of the icon
  }

  // Modifier class for the button. When state is true (scroll > 400) then the button becomes visible.\
  // Conditionally rendering the button did not work
  &--visible {
    display: block; // Button comes visible
  }
}

/* Global media query variables
--------------------------------*/
// Very small devices (portrait phones, 320px and down)
$breakpoint-mobile-xs: '(max-width: 20em)';

// Small devices (portrait phones, 428px and down)
$breakpoint-mobile-portrait: '(max-width: 26.75em)';

// Small devices (landscape phones, 576px and down)
$breakpoint-mobile-landscape: '(max-width: 36em)';

// Medium devices (portrait tablets, 768px and down)
$breakpoint-tablet-portrait: '(max-width: 48em)';

// Medium devices (landscape tablets, 1024px and down)
$breakpoint-tablet-landscape: '(max-width: 63.99em)';

// Large devices (desktops, 992px and down)
$breakpoint-large: '(max-width: 62em)';

// Extra large devices (desktops, 1200px and down)
$breakpoint-xlarge: '(max-width: 74.99em)';

// Extra large devices (large desktops, 1400px and down)
$breakpoint-xxlarge: '(max-width: 87.5em)';
