/* Imported FaQ component custom styles
----------------------------- */
.faq {
  // Each row of the grid cell
  &-row {
    // Single question wrapper
    &-wrapper {
      // Selecting 2nd faq grid
      &:nth-of-type(2) {
        @media #{$breakpoint-tablet-portrait} {
          // margin-top: 0; // Removing spacing above the element
          // border-top: none; // Removing border from top
        }
      }
    }
  }

  // Container of the title
  &-title {
    // Title
    h2 {
      // Overriding styles of the component to the default projects styles
      // Need to include "!important" to override styles
      margin: 2rem 0 1.5rem !important; // Spacing outside the element. Adding default margins so it would match the other h2 styles
      color: var(--main-text-color) !important; // Text color
      font-style: italic; // Text style
    }
  }
}

// Icon container,  either "+" or "-", depending on wether it's closed or not
// Need to include "!important" to override styles
.icon-wrapper {
  top: auto !important; // Removing positioning from the top
  transform: none !important; // Removing rotation transformation
  color: #5d9b7c !important; // Changing color
  font-size: 2rem; // Size of the icon
  max-height: none !important; // Removing restricting max height
}
